@{
    ViewBag.Title = "ClothingRecommendations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<meta name="viewport" content="width=device-width, initial-scale=1.0" />


<!-- 2nd Section: Clothing Protection -->
<div id="ClothingProtectionStart"></div>
<div class="portionheader">
    <h1>What to Wear?</h1>
</div>
<p>
    Choosing the right clothing for high UV weather can be confusing and sometimes dangerous! Did you know that you can be burnt through certain fabrics? However, clothing is still the best way to protect your skin from sun damage according to the skin cancer foundation (Skin Cancer Foundation, 2019).
</p>
<p>
    Clothing is rated with an Ultraviolet Protection factor (UPF) that demonstrates how protective it is from the sun. A garment with a UPF of 50 allows only 2% of the sun’s rays to impact your skin thus providing a substantial barrier to damage and without the need to reapply (Skin Cancer Foundation, 2019).
</p>
<p>
    NOTE: this differs from the Sun Protection Factor which measures the time for your UV exposed skin to burn. For example, if you use SPF 15 correctly you can stay in the sun 15 times longer than without the sunscreen before you burn (Skin Cancer Foundation, 2019). Additionally, SPF only relates to levels of UVB radiation while UPF relates to both UVA and UVB radiation. Please see here (hyper link on here) for more information about UVA and UVB!
</p>
<p>
    Here are some general rules you can use when deciding on if a garment will protect you or not (all information sourced from the Skin Cancer Foundation (2019)):
</p>
<p>
    - Colour: yes colour! Darker fabrics absorb more light than lighter ones thus offering you more protection.
</p>
<p>
    - Make and material: how densely woven a garment is and what its constructed with all help determine its UPF. For instance, lightweight linen shirts can be so breathable they allow the sun in while dense materials such as denim can offer complete sun protection. Additionally, tight fabrics are generall.y less sun protective than loose ones.
</p>
<p>
    - UPF: some garments such as rash guards and outdoor wear may provide UPF labels and inform you about how protective the clothing is.
</p>
<p>
    - Activity: be aware that when a garment is wet or manipulated by sport or other activity its protection can be reduced!
</p>

<!-- Setup like a row by row format -->
<div class="uv-index-guide-vertical">

    <!-- Low -->
    <div class="stage-row">
        <div class="image-collage-wrap">
            <img src="https://images.pexels.com/photos/16285863/pexels-photo-16285863/free-photo-of-bearded-man-in-shirt-standing-on-wooden-bridge.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Image for clothing section" />
            <img src="https://images.pexels.com/photos/4992628/pexels-photo-4992628.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Image for clothing section" />
            <img src="https://images.pexels.com/photos/3838941/pexels-photo-3838941.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Image for clothing section" />
        </div>
        <div class="text-section">
            <h4>Low UV Index: 1-2</h4>
            <p>Normal outdoor wear required. Add a hat and sunglasses as necessary. Very low risk for sunburn. No sunscreen required </p>
        </div>
    </div>

    <!-- Moderate -->
    <div class="stage-row">
        <div class="text-section">
            <h4>Moderate UV Index: 3-5</h4>
            <p>This is a moderate level of UV that requires exposed skin to be protected if outside for long periods of time. Wear a loose fitting, densely woven material that covers as much of the body as possible. Wear a hat. Wear SPF 15-10 depending on skin type and reapply every 2 hours.</p>
        </div>
        <div class="image-collage-wrap">
            <img src="https://images.pexels.com/photos/16354132/pexels-photo-16354132/free-photo-of-man-in-hat-and-shirt-standing-with-arms-crossed.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Image for clothing section" />
            <img src="https://images.pexels.com/photos/8063404/pexels-photo-8063404.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Image for clothing section" />
            <img src="https://images.pexels.com/photos/13250390/pexels-photo-13250390.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Image for clothing section" />
            <img src="https://images.pexels.com/photos/1887975/pexels-photo-1887975.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Image for clothing section" />
        </div>
    </div>

    <!-- High -->
    <div class="stage-row">
        <div class="image-collage-row">
            <img src="https://images.pexels.com/photos/5191436/pexels-photo-5191436.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Image for clothing section" />
            <img src="https://images.pexels.com/photos/20411282/pexels-photo-20411282/free-photo-of-elderly-man-in-shirt-looking-at-seashore-in-portugal.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Image for clothing section" />
            <img src="https://images.pexels.com/photos/9289896/pexels-photo-9289896.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Image for clothing section" />
        </div>
        <div class="text-section">
            <h4>High UV Index: 6-7</h4>
            <p>High risk of sun damage to unexposed skin. If outside for extended periods cover all exposed skin with densely woven and dark coloured material. Wear a wide brimmed hat. Wear SPF 30-50 depending on skin type and reapply every 2 hours. </p>
        </div>
    </div>

    <!-- Very High -->
    <div class="stage-row">
        <div class="image-collage-wrap">
            <img src="https://images.pexels.com/photos/3021601/pexels-photo-3021601.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Image for clothing section" />
            <img src="https://images.pexels.com/photos/16060561/pexels-photo-16060561/free-photo-of-woman-in-hat-and-red-skirt-in-orchard-in-spring.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Image for clothing section" />
            <img src="https://images.pexels.com/photos/20045023/pexels-photo-20045023/free-photo-of-young-woman-in-a-straw-hat-looking-in-the-mirror-sitting-on-a-picnic-blanket.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Image for clothing section" />
        </div>
        <div class="text-section">
            <h4>Very High UV Index: 8-10</h4>
            <p>Very high UV levels that can lead to skin damage within 10 minutes of exposure. Cover all exposed skin with dense fabric and ensure wide brimmed hats and sunglasses are used. Wear SPF 30-50 depending on skin type and reapply every 2 hours.</p>
        </div>
    </div>

    <!-- Extreme -->
    <div class="stage-row">
        <div class="text-section">
            <h4>Extreme UV Index: 11+</h4>
            <p>Extreme UV levels that will burn fair skinned people in approximately 5 minutes. At this level of UV seek shade and try to stay indoors from 10am and 4pm. If going outside, cover all exposed skin with densely woven and dark coloured material. Wear wide brimmed hats. Wear SPF50+ sunscreen and reapply every 90 minutes. </p>
        </div>
        <div class="image-collage-row">
            <img src="https://images.pexels.com/photos/5530756/pexels-photo-5530756.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Image for clothing section" />
            <img src="https://images.pexels.com/photos/16359892/pexels-photo-16359892/free-photo-of-back-view-of-man-in-cowboy-hat.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Image for clothing section" />
            <img src="https://images.pexels.com/photos/7817686/pexels-photo-7817686.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Image for clothing section" />
            <img src="https://images.pexels.com/photos/18140059/pexels-photo-18140059/free-photo-of-a-woman-standing-in-the-garden-with-a-sun-umbrella.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Image for clothing section" />
        </div>
    </div>
</div>

<div style="text-align: center;">
    <a class="btn btn-outline-dark" href="/Home/SunscreenUsage" style="display: block; width: 100%; text-align: center; box-sizing: border-box;">Learn to Apply Sunscreen Properly »</a>
</div>
