@{
	ViewBag.Title = "FunSunSafety";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<div id="FunsSunSafetyStart"></div>
<div class="portionheader">
	<h1>Sun Safety Fun and Engaging Activities for Children</h1>
</div>
<p>
	
Understanding age-appropriate, fun, and engaging ways to teach sun safety to children is crucial for fostering long-lasting, healthy habits. Early, tailored education in this area enhances learning and retention, especially given the heightened sensitivity of young skin to UV damage. By making sun protection practices enjoyable and relatable, children are more likely to engage willingly, reducing resistance to essential actions like applying sunscreen or wearing protective clothing. 
</p>

<!-- setup like a row by row format -->
<div class="uv-index-guide-vertical">

	<!-- conent organized horiontally -->
	<!-- Activity 1 -->
	<div class="stage-row" style="padding: 20px 0;">
		<div class="text-section">
			<h4>Sunscreen Reward Chart</h4>
			<p>Create a reward chart where children get stickers for every time they remember to wear sunscreen. Rewards can be given for a certain number of stickers.</p>
		</div>
		<div class="row-single-image">
			<img src="https://images.pexels.com/photos/7005760/pexels-photo-7005760.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="image for activity" />
		</div>
	</div>

	<!-- Activity 2 -->
	<div class="stage-row" style="padding: 20px 0;">
		<div class="text-section">
			<h4>Color-Changing UV Beads</h4>
			<p>Use beads that change color in UV light to create bracelets or keychains. These serve as fun and visual reminders of the presence of UV radiation.</p>
		</div>
		<div class="row-single-image">
			<img src="https://images.pexels.com/photos/16129254/pexels-photo-16129254/free-photo-of-close-up-of-a-necklace-with-yellow-beads.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="image for activity" />
		</div>
	</div>

	<!-- Activity 3 -->
	<div class="stage-row" style="padding: 20px 0;">
		<div class="text-section">
			<h4>DIY Sun Protection Gear</h4>
			<p>Encourage older children to create their own sun-safe clothing or accessories, like decorating wide-brimmed hats.</p>
		</div>
		<div class="row-single-image">
			<img src="https://images.pexels.com/photos/7585857/pexels-photo-7585857.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="image for activity" />
		</div>
	</div>

	<!-- Activity 4 -->
	<div class="stage-row" style="padding: 20px 0;">
		<div class="text-section">
			<h4>Sun-Safe Gardening</h4>
			<p>Involve children in gardening activities, ensuring they wear sun-protective clothing. They can learn about sun safety while also learning about nature.</p>
		</div>
		<div class="row-single-image">
			<img src="https://images.pexels.com/photos/7782193/pexels-photo-7782193.jpeg" alt="image for activity" />
		</div>
	</div>

	<!-- Activity 5 -->
	<div class="stage-row" style="padding: 20px 0;">
		<div class="text-section">
			<h4>Sun Safety Story Time</h4>
			<p>Read books or create stories that include characters practicing sun safety. This can help children understand the importance of sun protection.</p>
		</div>
		<div class="row-single-image">
			<img src="https://images.pexels.com/photos/3755621/pexels-photo-3755621.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="image for activity" />
		</div>
	</div>
</div>

<br>
<br>

<div class="container">
	<div class="row">
		<div class="col-12 col-md-6">
			<a class="btn btn-outline-dark w-100 mb-2 mb-md-0" href="/Home/SunscreenUsage">Learn to Apply Sunscreen Properly »</a>
		</div>
		<div class="col-12 col-md-6">
			<a class="btn btn-outline-dark w-100" href="/Home/ClothingRecommendations">Go for Clothing Recommendations »</a>
		</div>
	</div>
</div>
