@{
    ViewBag.Title = "SunscreenUsage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<div id="SunscreenUsageStart"></div>
<div class="portionheader">
    <h1>How much Sunscreen to Use?</h1>
</div>
<p>
    To ensure optimal protection, utilize broad-spectrum sunscreen with SPF 30 or higher,
    in conjunction with wearing a hat, sunglasses, protective clothing, and seeking shade.
    It's crucial to reapply sunscreen every 2 hours, or more frequently if swimming or
    perspiring heavily.
</p>

<!-- Setup in a column by column format -->
<div class="uv-index-guide-horizontal">
    <!-- SPF Guide -->
    <!-- Conent organized in a column format -->
    <div class="stage-column">
        <img src="https://images.pexels.com/photos/16690692/pexels-photo-16690692/free-photo-of-packaging-with-sunscreen-on-the-ground-on-the-beach.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Image" />

        <div class="text-section-full">
            <h4>SPF Guide</h4>
            <p>- For UV Index up to 10, use at least 30+ SPF </p>
            <p>- For UV Index 11+ Extreme, use at least 50+ SPF </p>
            <p>- Generally, its always safer to just use 50+ SPF </p>
        </div>
    </div>

    <!-- Where to Apply -->
    <div class="stage-column">
        <img src="https://images.pexels.com/photos/8396725/pexels-photo-8396725.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Image" />
        <div class="text-section-full">
            <h4>Where to Apply</h4>
            <p>The following amount of sunscreen Adults need to apply is an approximate only:</p>
            <p>- To any exposed skin </p>
            <p>- No sunscreen provides 100% protection so always use with a broad brimmed hat, sunglasses, covering clothing and shade. </p>
            <br>
        </div>
    </div>

    <!-- Sunscreen Amount -->
    <div class="stage-column">
        <img src="https://images.pexels.com/photos/5269654/pexels-photo-5269654.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Image" />
        <div class="text-section-full">
            <h4>Sunscreen Amount</h4>
            <p>The following amount of sunscreen Adults need to apply is an approximate only:</p>
            <p>Wearing:</p>
            <p>- T-shirt + Shorts: At least 3 teaspoons </p>
            <p>- Long Sleeve Shirt + Shorts: At least 2.5 teaspoons </p>
            <p>- T-shirt + Long Pants: At least 2 teaspoons </p>
            <p>- Long Sleeve Shirt + Long Pants: At least 1,5 teaspoons </p>
            <p>- Full Body Application: At least 7 teaspoons </p>
        </div>
    </div>
    <!-- When to Apply -->
    <div class="stage-column">
        <img src="https://free-images.com/lg/6670/time_take_time_cosmetics.jpg" alt="Image" />
        <div class="text-section-full">
            <h4>When to Apply</h4>
            <p>- Apply at least 20 minutes beforehand </p>
            <p>- Reapply every 2 hours and more frequently if swimming or active </p>
        </div>
    </div>
</div>

<div style="text-align: center;">
    <a class="btn btn-outline-dark" href="/Home/ClothingRecommendations" style="display: block; width: 100%; text-align: center; box-sizing: border-box;">Go for Clothing Recommendations »</a>
</div>
